{
  "type": "AdaptiveCard",
  "version": "1.4",
  "body": [
    {
      "type": "Container",
      "items": [
        {
          "type": "ColumnSet",
          "columns": [
            {
              "type": "Column",
              "width": "auto",
              "items": [
                {
                  "type": "Image",
                  "url": "https://adaptivecards.io/content/bot-framework.png",
                  "size": "Small",
                  "style": "Person"
                }
              ]
            },
            {
              "type": "Column",
              "width": "stretch",
              "items": [
                {
                  "type": "TextBlock",
                  "text": "{{ bot_name }}",
                  "weight": "Bolder",
                  "size": "Medium"
                }
              ]
            }
          ]
        },
        {
          "type": "TextBlock",
          "text": "${response}",
          "wrap": true,
          "spacing": "Medium"
        }
      ],
      "style": "emphasis"
    }
  ]
}
